* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui;
}

.content {
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 100vh;
}

.sidebar {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    background-color: black;
}

#new-project-button {
    width: 220px;
    height: 55px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 5px;
    color: black;
    font-size: 24px;
    font-weight: bold;
    border: none;
    transition-duration: 100ms;
    cursor: pointer;
}

#new-project-button:hover {
    color: green;
}

#new-project-button:active {
    transform: scale(0.97);
}

.project {
    text-align: left;
    text-indent: 10px;
    width: 90%;
    height: 40px;
    background-color: #111111;
    color: white;
    border: none;
    border-left: 2px solid white;
    font-size: 20px;
    transition-duration: 100ms;
    cursor: pointer;
}

.project:hover {
    border: 2px solid white;
}

.selected {
    background-color: white;
    color: black;
    font-weight: bold;
    text-indent: 20px;
    text-decoration: underline;
    border: none;
}

.selected:hover {
    filter: brightness(88%);
    border: none;
}

.todo-section {
    position: relative;
    background-color: #393a3f;
    color: white;
    display: flex;
    flex-wrap: nowrap;
    gap: 30px;
    overflow: scroll;
    padding-left: 30px;
    padding-right: 30px;
    scrollbar-color: grey #414248;
}

#new-todo-wrapper {
    position: fixed;
    width: 80%;
    display: flex;
    justify-content: center;
    bottom: 4vh;
    left: 57vw;
}

#new-todo-button {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color: #0ba90b;
    color: white;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    transition-duration: 100ms;
}

#new-todo-button:hover {
    font-size: 30px;
}

#new-todo-button:active {
    transform: scale(0.93);
}

.category {
    width: 40%;
    flex-shrink: 0;
    margin-top: 30px;
}

.category-title {
    border-bottom: 3px solid white;
    font-size: 30px;
}

.todo-item {
    background-color: #52565d;
    margin-top: 20px;
    border: 6px ridge #5f646b;
    cursor: pointer;
    padding: 10px;
    display: flex;
    gap: 15px;
    position: relative;
    align-items: center;
}

.todo-item:hover {
    outline: 2px solid white;
}

.remove {
    position: absolute;
    top: 0;
    right: 0;
    width: 18px;
    font-size: 16px;
    background-color: #ce4f4f;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.remove:hover {
    outline: 2px solid white;
}

input[type="checkbox"] {
    height: 20px;
    width: 20px;
}

.complete {
    color: black;
    text-decoration: line-through;
}

.Medium {
    outline: 2px solid orange;
}

.High {
    outline: 2px solid red;
}

#new-project[open] {
    position: absolute;
    top: 35px;
    border: 3px ridge #bcbcbc;
    background-color: #393a3f;
    color: white;
    padding: 5px;
}

#new-project input {
    background-color: #52565d;
    border: none;
    color: white;
    height: 22px;
    font-size: 18px;
    text-indent: 3px;
}

#new-project label {
    font-weight: bold;
    font-size: 18px;
}

#new-project button {
    width: 20px;
    font-size: 18px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

#new-project button:hover {
    outline: 2px solid white;
}

#add-project {
    background-color: #0ba90b;
    border: none;
}

#cancle-project {
    background-color: #ce4f4f;
    border: none;
}
