* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content {
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 100vh;
}

.sidebar {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    background-color: black;
}

#new-project-button {
    width: 220px;
    height: 55px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 5px;
    color: black;
    font-size: 24px;
    font-weight: bold;
    border: none;
    transition-duration: 100ms;
    cursor: pointer;
}

#new-project-button:hover {
    color: green;
}

#new-project-button:active {
    transform: scale(0.97);
}

.project {
    text-align: left;
    text-indent: 10px;
    width: 90%;
    height: 40px;
    background-color: #111111;
    color: white;
    border: none;
    border-left: 2px solid white;
    font-size: 20px;
    transition-duration: 100ms;
    cursor: pointer;
}

.project:hover {
    border: 2px solid white;
}

.selected {
    background-color: white;
    color: black;
    font-weight: bold;
    text-indent: 20px;
    text-decoration: underline;
    border: none;
}

.selected:hover {
    filter: brightness(88%);
    border: none;
}

.todo-section {
    position: relative;
    background-color: #393a3f;
    color: white;
    display: flex;
    flex-wrap: nowrap;
    gap: 30px;
    overflow: scroll;
    padding-left: 30px;
}

#new-todo-wrapper {
    position: fixed;
    width: 80%;
    display: flex;
    justify-content: center;
    bottom: 40px;
    left: 950px;
}

#new-todo-button {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color: #0ba90b;
    color: white;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    transition-duration: 100ms;
}

#new-todo-button:hover {
    font-size: 30px;
}

#new-todo-button:active {
    transform: scale(0.93);
}

.category {
    width: 40%;
    flex-shrink: 0;
    margin-top: 30px;
}
